{% extends 'base.html' %}
{% block title %} Your Story {% endblock %} 

{% block content %}
    <h1>Madlibs</h1>
    <b>Your Happy Story: </b>
    <p>Once upon a time in a beautiful {{place}} far far away, there lived the 
     happiest most {{adjective}} {{noun}} in the world. The {{noun}} had 
     so many {{plural_noun}} and everyone in the {{place}} thought that the {{noun}} 
     was oh so {{adjective}}! If you could, you would love to {{verb}} with this
    happy little {{noun}}!</p>
    <p>The end.</p>

{% endblock %}